.toolbar-fixed {
  z-index: 2;
  background-color: transparent;
  position: fixed;

  .toolbar-material-icon {
    width: 34px;
    height: 34px;
    font-size: 34px;
    cursor: pointer;
    color: white;

    &:hover {
        opacity: 0.75;
    }
  }

  .toolbar-logo-img {
    width: 175px;
    height: 70px;
    margin-left: 20px;
    margin-top: -10px;
  }

}

@media only screen and (max-width: 600px) {
	.toolbar-fixed {

    .toolbar-logo-img {
      margin-left: 10px;
    }
  }
}
