<a routerLink="/" class="sidebar-links" (click)="toogleSidebar($event)">
  <img [src]="logoSrc" [alt]="defaultAltImage" class="sidebar-logo">
</a>

<ul class="sidebar-links">
  <li>
    <button mat-button [matMenuTriggerFor]="menuOne">
      Feminino <span class="caret"></span>
    </button>
    <mat-menu #menuOne="matMenu">
      <button mat-menu-item routerLink="/tiaras" 
        (click)="toogleSidebar($event)">Tiaras</button>
      <button mat-menu-item routerLink="/bico-de-pato" 
        (click)="toogleSidebar($event)">Bicos de pato</button>
      <button mat-menu-item routerLink="/sapatinhos" 
        (click)="toogleSidebar($event)">Sapatinhos</button>
    </mat-menu>
  </li>
  <li>
    <button mat-button [matMenuTriggerFor]="menuTwo">
      Masculino <span class="caret"></span>
    </button>
    <mat-menu #menuTwo="matMenu">
      <button mat-menu-item routerLink="/gravatas" 
        (click)="toogleSidebar($event)">Gravatas</button>
    </mat-menu>
  </li>
  <li>
    <button mat-button [matMenuTriggerFor]="menuThree">
      Informações
      <span class="caret"></span>
    </button>
    <mat-menu #menuThree="matMenu">
      <button mat-menu-item routerLink="/politica-de-entrega" 
        (click)="toogleSidebar($event)">Política de entrega</button>
      <button mat-menu-item routerLink="/how-it-works" 
        (click)="toogleSidebar($event)">Sobre nós</button>
      <button mat-menu-item routerLink="/about-us" 
        (click)="toogleSidebar($event)">Como nosso site funciona?</button>
    </mat-menu>
  </li>
  <li>
    <button mat-button routerLink="/cart" (click)="toogleSidebar($event)">
      Meu Carrinho
      <i class="fa fa-shopping-cart" aria-hidden="true"></i> 
    </button>
  </li>
  <li *ngIf="isLoggedIn">
    <button mat-button routerLink="/dashboard" (click)="toogleSidebar($event)">
      Dashboard
      <i class="material-icons">&#xE871;</i>
    </button>
  </li>
  <li *ngIf="isLoggedIn">
    <button mat-button (click)="toogleSidebar($event); logout()">
      Logout
      <i class="material-icons">&#xE879;</i>
    </button>
  </li>
</ul>