.sidebar-links {
    text-decoration: none; 
    outline: white;
    list-style: none;
    padding-left: 0;

    li {
        position: relative;

        button {
            width: 100%;
            padding: 20px 30px;
            text-align: left;
            font-family: 'Merriweather Sans', sans-serif;
            color: rgb(149, 16, 172);
            font-size: 16px;
            position: relative;

            span {
                position: absolute;
                top: 40px;
                right: 80px;
            }

            .fa-shopping-cart, .material-icons {
                position: absolute;
                top: 28px;
                right: 74px;
            }

        }

    }

    .sidebar-logo {
        width: 290px;
        margin-bottom: 20px;
        margin-top: 35px;
        cursor: pointer;

        &:hover {
            opacity: 0.75;
        }
    }

}