.btn-sonja {
  background-color: #9510ac;
  border-color: #9510ac;
  color: white;
  font-weight: 600;
}


.container-fluid {
  background-color: rgb(252, 193, 255);
  min-height: 100vh;

  .product-section {
    margin-top: 80px;

    .main-photo {
      margin-bottom: 10px;
    }
    .small-photos {
      margin-bottom: 10px;
    }

    .name, .price, .description, .cart {
      background-color: white;
      border-radius: 5px;
      margin-bottom: 20px;
      padding: 16px 12px;

      .product-text {
        font-family: 'Crimson Text', serif;
        color: rgb(149, 16, 172);
        font-weight: 600;
      }
      h1 {
        text-align: center;
        font-size: 34px;
        margin: 0;
      }
      h4 {
        text-align: left;
      }
    }

    .cart {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;
      padding: 30px 12px;

      .qty {
        font-family: 'Crimson Text', serif;
        color: rgb(149, 16, 172);
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;

        .buttons {
          display: flex;
          align-items: center;
          justify-content: center;

          p {
            margin: 0;
            padding: 10px 20px;
            font-size: 20px;
          }
  
          .fa-plus-circle, .fa-minus-circle {
            font-size: 16px;
            cursor: pointer;
          }
        }


      }

      .add-to-cart {
        .btn-sonja {
          background-color: #9510ac;
          border-color: #9510ac;
          color: white;
          font-weight: 600;
        }
      }
    }

    .navigation {
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 5px;
      margin-bottom: 20px;
      padding: 16px 12px;
    }
  }

  .cross-selling-section {
    margin-top: 30px;
  }
}