<div class="container-fluid" *ngIf="product">

  <div class="row product-section">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12 main-photo">
          <img 
            class="img-responsive img-thumbnail" (click)="open(0)"
            *ngIf="product.photos" [src]="product.photos[0]">
        </div>

        <div class="col-xs-6 col-sm-3 small-photos">
          <img 
            class="img-responsive img-thumbnail" (click)="open(1)"
            *ngIf="product.photos" [src]="product.photos[1]">
        </div>
      </div>
    </div>
    
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12" *ngIf="product.name">
          <div class="name">
            <h1 class="product-text">{{ product.name }}</h1>
          </div>
        </div>

        <div class="col-sm-12" *ngIf="product.price">
          <div class="price">
            <h1 class="product-text">{{ getFormattedValue(product.price) }}</h1>
          </div>
        </div>

        <div class="col-sm-12" *ngIf="product.description">
          <div class="description">
            <h4 class="product-text">Descrição</h4>
            <p class="product-text"> {{ product.description }} </p>
          </div>
        </div>

        <div class="col-sm-12">
          <div class="cart">        

            <div class="qty">

              <div class="buttons">
                <div (click)="addQty()"><i class="fa fa-plus-circle"></i></div>
                <p class="qty">{{ qty }}</p>
                <div (click)="removeQty()"><i class="fa fa-minus-circle"></i></div>
              </div>

              <div *ngIf="product.showMaxQtyMessage">Quantidade disponível: {{ product.qty }}</div>

            </div>

            <div class="add-to-cart">
              <button class="btn btn-sonja btn-block" (click)="addToCart()">
                <i class="fa fa-shopping-cart"></i> 
                Adicionar
              </button>
            </div>
          
          </div>
        </div>

        <div class="col-sm-12">
          <div class="navigation">
            <button class="btn btn-sonja" routerLink="/">
              <i class="fas fa-angle-left"></i>
              Produtos
            </button>
            
            <button class="btn btn-sonja" routerLink="/cart">
              <i class="fa fa-shopping-cart"></i>
              Carrinho
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row cross-selling-section">
    <subtitle-block [text]="crossSellingText"></subtitle-block>
  </div>
</div>