$sonja-first-color: (
  50: #D166E3,
  100: #D166E3,
  200: #D166E3,
  300: #D166E3,
  400: #D166E3,
  500: #D166E3,
  600: #D166E3,
  700: #D166E3,
  800: #D166E3,
  900: #D166E3,
  A100: #D166E3,
  A200: #D166E3,
  A400: #D166E3,
  A700: #D166E3,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

$sonja-second-color: (
  50: #9510AC,
  100: #9510AC,
  200: #9510AC,
  300: #9510AC,
  400: #9510AC,
  500: #9510AC,
  600: #9510AC,
  700: #9510AC,
  800: #9510AC,
  900: #9510AC,
  A100: #9510AC,
  A200: #9510AC,
  A400: #9510AC,
  A700: #9510AC,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);
