.product-card {
  width: 100%;
  position: relative;
  margin-bottom: 10px;

  mat-card-content {
    p {
      color: #9510ac;
      position: absolute;
      font-size: 15px;
      left: 10px;
    }
  }

  mat-card-actions {
    button.price {
      position: absolute;
      right: 0;
      bottom: 2px;
    }

    .product-link {
      position: absolute;
      bottom: 0;
      top: 0;
      width: 100%;
      left: 0;
      right: 0;
      cursor: pointer;
    }
  }
}